<%- include("header") -%> 
<%- include("bg") %> 

<h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi qui,</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Aliquam placeat qui accusantium earum ullam temporibus doloribus totam dolores, magnam mollitia hic est veritatis incidunt architecto, 
    quae officia dolor sequi fugiat.</p>

<%- include("footer") -%> 