body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}
li {
  font-family: "JetBrains Mono", monospace;
}
ul {
  list-style-type: none;
}

ul li {
  text-decoration: none;
}

input[type="checkbox"]:checked + label.strike{
  text-decoration: line-through;
}

.bgimage {
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0.8;
}


.box {
  max-width: 500px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}


.heading {
  text-align: center;
  font-size: 4rem;
  margin: auto;
  width: 50%;
  padding: 10px;
  color: #13005a;
}

.list {
  margin: auto;
  margin-top: 100px;
  width: 30%;
  padding: 10px;
  color: #13005a;
  font-size: larger;
  font-weight: bold;
}

input [type="checkbox"] {
  text-align: center;
  margin: 20px;
  padding: 0 5px;
}

.list-item {
  padding-bottom: 5px;
}

.input-group {
  display: flex;
  margin: auto;
  width: 30%;
  padding: 10px;
  color: #13005a;
}

.itext{
  position:relative;
  width: 30%;
  margin: auto;
}

#add{
  width: 30px;
  height: 36px;
  border: none;
  outline: none;
  position:absolute;
  right:0;
  top:0;
  background-color: #a2a8db;
  display: flex;
  align-items: center;
  justify-content: center;
}

    /* Create the gradient animation */
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    /* Apply the animation to the <div> element */
    #gradient {
      animation: gradient 10s ease infinite;
      background: linear-gradient(to right, #C5E3EA, #D3D6EE, #FAE4E1);
      background-size: 200% 100%;
    }


    @keyframes add {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    #add{
      animation: gradient 10s ease infinite;
      background: linear-gradient(to left, #EAC7C7, #A0C3D2,#F7F5EB, #EAE0DA);
      background-size: 200% 100%;
    }